/* You can add global styles to this file, and also import other style files */

/*

515052
5EB1BF
54F2F2
FCFCFC
000103

 */
body {
  background-image: linear-gradient(to top right, #54F2F2, #5EB1BF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
}

label{
	font-weight: bold;
}

html, body {
    margin: 0;
    height: 100%;
}

.pointer{
	cursor: pointer;
}

.flex-container{
	display: flex;
	height: 100%;
}

.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
