.form-container{
	background-color: #ffffff;
	border-radius: 15px;
	padding: 15px;
	align-self: center;
	margin: auto;
}

.form-button{
	width: 100%;
}

label{
	font-weight: bold;
}
input{
	margin-bottom: 15px;
}

.invalid{
	font-size: 1000%;
	color: #fcba03;
	text-align: center;
}
.invalid-header{
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}
