<div class="flex-container">
	<div class="form-container col-10 col-sm-8 col-md-4 col-lg-3" *ngIf="!conviteInvalido">
		<label>Email</label>
		<input type="email" disabled class="form-control" value="{{convite.email}}" >

		<label>Nome</label>
		<input type="text" class="form-control" [(ngModel)]="nome">

		<label>Senha</label>
		<input type="password" class="form-control" [(ngModel)]="senha" (keyup.enter)="cadastrar()">

		<label>Confirme a Senha</label>
		<input type="password" class="form-control" [(ngModel)]="senha2" (keyup.enter)="cadastrar()">

		<button type="button" class="btn btn-primary form-control" name="button" (click)="cadastrar()">
			<i class="fas fa-sign-in-alt"></i> Cadastrar
		</button>
	</div>
	<div class="form-container col-10 col-sm-8 col-md-4 col-lg-3" *ngIf="conviteInvalido">
		<div class="invalid">
			<i class="fas fa-exclamation-triangle"></i>
		</div>
		<div class="invalid-header">CONVITE INVÁLIDO</div>
		<div>
			Por favor peça ao administrador para enviar um novo convite.
		</div>
	</div>
</div>
