<div class="row">
	<div class="offset-lg-3"></div>
	<div class="col-lg-6">
		<div class="">
			<input type="checkbox"
				[(ngModel)]="statusPagamento.notificar_falta_pagamento"
				(click)="alterarNotificacaoPagamento($event.target.checked)">
			<label> Notificar falta de pagamento</label>
		</div>
		<div class="">
			<label>Alterar Senha</label>
			<input type="password" class="form-control" placeholder="Nova Senha" [(ngModel)]="novaSenha">
			<input type="password" class="form-control" placeholder="Confirme a Senha" [(ngModel)]="novaSenha2">
			<button type="button" class="btn btn-primary form-control" (click)="alterar()">
				<i class="fas fa-lock"></i> Trocar Senha
			</button>
		</div>


	</div>
	<div class="offset-lg-3"></div>
</div>
