

<div class="row " style="padding-left:15px; padding-right:15px;" *ngIf="isLoggedIn">
	<div class="col-12 d-none d-sm-block">
		<div class="header-row">
			<span class="nome">{{nome}}</span>
			<span class="btn-logout">
				<button class='btn btn-primary' type='button' (click)="logout()">
					Sair <i class="fas fa-sign-out-alt"></i>
				</button>
			</span>
		</div>
	</div>
</div>

<div class="row" style="padding-left:15px; padding-right:15px;" *ngIf="isLoggedIn">
	<div [ngClass]="{'col-1':isAdmin}"></div>
	<div [ngClass]="{'col-2':isAdmin, 'col-4':!isAdmin, 'd-block':true, 'd-sm-none':true}" style="padding-left:7px;padding-right:7px;">
		<div class="menu-mobile text-center" (click)="navigate('/termos')">
			<span style="margin:auto">
				<i class="fas fa-file-contract"></i>
			</span>
		</div>
	</div>
	<div [ngClass]="{'col-2':isAdmin, 'd-block':true, 'd-sm-none':true}" style="padding-left:7px;padding-right:7px;" *ngIf="isAdmin">
		<div class="menu-mobile text-center" (click)="navigate('/usuarios')">
			<i class="fas fa-users"></i>
		</div>
	</div>
	<!-- PAGAMENTO -->
	<div [ngClass]="{'col-2':isAdmin, 'd-block':true, 'd-sm-none':true}" style="padding-left:7px;padding-right:7px;" *ngIf="isAdmin">
		<div class="menu-mobile text-center" (click)="navigate('/pagamento')">
			<i class="far fa-money-bill-alt"></i>
		</div>
	</div>
	<div [ngClass]="{'col-2':isAdmin, 'col-4':!isAdmin, 'd-block':true, 'd-sm-none':true}" style="padding-left:7px;padding-right:7px;">
		<div class="menu-mobile text-center" (click)="navigate('/config')">
			<i class="fas fa-cog"></i>
		</div>
	</div>
	<div [ngClass]="{'col-2':isAdmin, 'col-4':!isAdmin, 'd-block':true, 'd-sm-none':true}" style="padding-left:7px;padding-right:7px;">
		<div class="menu-mobile text-center" (click)="logout()">
			<i class="fas fa-sign-out-alt"></i>
		</div>
	</div>
	<div [ngClass]="{'col-1':isAdmin}"></div>
</div>

<div class="row menu-row" style="padding-left:15px; padding-right:15px;">
	<div *ngIf="isLoggedIn" class="col-sm-4 col-md-3 col-lg-2 d-none d-sm-block">
		<div class="menu">
			<div class="menu-item top" (click)="navigate('/termos')"><i class="fas fa-file-contract"></i> Gerenciar Termos</div>
			<div [hidden]="!isAdmin" class="menu-item" (click)="navigate('/usuarios')"><i class="fas fa-users"></i> Usuários</div>
			<div [hidden]="!isAdmin" class="menu-item" (click)="navigate('/pagamento')"><i class="far fa-money-bill-alt"></i> Pagamento</div>
			<div class="menu-item" (click)="navigate('/config')"><i class="fas fa-cog"></i> Configurações</div>
		</div>
	</div>

	<div [ngClass]="{'col-sm-8':isLoggedIn, 'col-md-9':isLoggedIn, 'col-lg-10':isLoggedIn, 'col-12':!isLoggedIn}">
		<router-outlet></router-outlet>
	</div>
</div>
