.header-row{
	height: 60px;
	background-color: #ffffff;
	border-radius: 15px;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	/* margin-left:15px;
	margin-right:15px; */
	padding-left: 15px;
	padding-right: 15px;
	opacity: 0.8;
	display: flex;
	align-items: center;
}

.menu-row{
	height: calc(90% - 90px);
	opacity: 0.8;
}
.nome{
	font-weight: bolder;
	font-size: 110%;
}
.btn-logout{
	margin-left: auto;
}

.menu{
	background-color: #ffffff;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	padding-top: 7px;
}

.menu-mobile{
	margin-bottom: 15px;
	margin-top: 15px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 15px;
	width: 100%;
	opacity: 0.8;
	align-items: center;
	font-size: 35px;
}


.top {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.menu-item{
	border-style: none;
	padding-left: 15px;
	padding-bottom: 7px;
	padding-top: 7px;
	border-color: #c3c7c7;
}

.menu-item:hover{
	cursor: pointer;
	text-decoration: underline;
}
