
<div class="row">
	<div class="offset-lg-3"></div>
	<div class="col-lg-6">
		<div class='input-group'>
			<input type='text' [(ngModel)]="novoTermo" class='form-control' placeholder="Acompanhar novo termo" (keyup.enter)="acompanhar()">
			<div class='input-group-append'>
				<button class='btn btn-secondary' type='button' (click)="acompanhar()">
					Acompanhar
				</button>
			</div>
		</div>
	</div>
	<div class="offset-lg-3"></div>
</div>
<div class="row">
	<div class="offset-lg-3"></div>
	<div class="col-lg-6">
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					<tr *ngFor='let termo of termos'>
						<td style="width:80%">{{termo.termo_texto}}</td>
						<td class="text-right"><span class='pointer' (click)="abandonar(termo.id)"><i class="fas fa-times"></i></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="offset-lg-3"></div>
</div>
