<div class="row">
	<div class="offset-lg-3"></div>
	<div class="col-lg-6">
		<div class="">
			<div>
				<label>Status:</label>
				<span *ngIf="statusPagamento.pagamento_realizado">
					 Ok!
				</span>
				<span *ngIf="!statusPagamento.pagamento_realizado">
					 Não realizado
				</span>
			</div>
			<div>
				<span *ngIf="!statusPagamento.subscription_id">
					<label>
						Realizar Pagamento
					</label>
				</span>
				<span *ngIf="statusPagamento.subscription_id">
					<label>
						Alterar Cartão
					</label>
				</span>
			</div>
			<div class="">
				<input type="text"
				class="form-control"
				[ngModel]="subscription.card_number | ccnumber"
				(ngModelChange)="subscription.card_number=$event"
				placeholder="Número do Cartão"
				maxlength="19">

				<input type="text" class="form-control" [(ngModel)]="subscription.card_holder_name" placeholder="Nome Impresso no Cartão">

				<input type="text" class="form-control" [(ngModel)]="subscription.card_cvv" placeholder="CVV" maxlength="3">

				<input type="text"
				class="form-control"
				[ngModel]="subscription.card_expiration_date | ccexp"
				(ngModelChange)="subscription.card_expiration_date=$event"
				maxlength="5"
				placeholder="Validade do Cartão" >

				<hr>

				<input type="text" class="form-control" [(ngModel)]="subscription.customer.name" placeholder="Seu Nome">
				<input type="text" class="form-control" [(ngModel)]="subscription.customer.email" placeholder="Email">
				<input type="text" class="form-control" [ngModel]="subscription.customer.document_number | cpfcnpj"
				(ngModelChange)="subscription.customer.document_number=$event"
				placeholder="Número do Documento (CPF/CNPJ)"
				maxlength="18">
				<button type="button" class="btn btn-primary form-control" (click)="confirmar()">
					Confirmar
				</button>
			</div>
			<hr>
			<div *ngIf="statusPagamento.subscription_id">
				<button type="button" class="btn btn-danger form-control" (click)="cancelar()">
					Cancelar Pagamentos
				</button>
			</div>
		</div>
	</div>
	<div class="offset-lg-3"></div>
</div>
