/* You can add global styles to this file, and also import other style files */
/* body{
	background-color: red;
} */
.form-container{
	background-color: #ffffff;
	border-radius: 15px;
	padding: 15px;
	align-self: center;
	margin: auto;
}

.form-button{
	width: 100%;
}

.esqueci-senha{
	text-decoration: underline;

	color: blue;
	margin-top: 15px;
}

.esqueci-senha > span{
	cursor: pointer;
}
