
<div class="flex-container">
	<div class="form-container col-10 col-sm-8 col-md-4 col-lg-3">
		<label>Email</label>
	    <input type="email" class="form-control" aria-describedby="emailHelp" [(ngModel)]="email">
		<label>Senha</label>
	    <input type="password" class="form-control" aria-describedby="emailHelp" [(ngModel)]="senha" (keyup.enter)="login()">
		<hr>
		<button type="button" class="btn btn-primary form-button" (click)="login()">
			<i class="fas fa-sign-in-alt"></i> Entrar
		</button>
		<div class="esqueci-senha">
			<span (click)="esqueciSenha()">
				Esqueci a senha
			</span>
		</div>

	</div>
</div>
