<div class="row">
	<div class="col-lg-4">
		<label>Convidar Usuário</label>
		<input type="text" class='form-control' [(ngModel)]="novoUsuario" placeholder="Email">
		<button type="button" class="btn btn-primary form-control" name="button" (click)="convidar()">
			<i class="fas fa-envelope"></i> Convidar
		</button>
	</div>
	<div class="col-lg-8">
		<label>Usuários Cadastrados</label>
		<div class="row user-row" *ngFor="let usuario of usuarios">
			<div class="col-5 pointer" (click)="detalharUsuario(usuario.id)" style="word-break:break-all">
				<span [hidden]='idUsuarioDetalhado != usuario.id'><i class="fas fa-caret-down"></i></span>
				<span [hidden]='idUsuarioDetalhado == usuario.id'><i class="fas fa-caret-right"></i></span>
				 {{usuario.email}}
			</div>
			<div class="col-4">
				<span *ngIf="usuario.cadastrado">{{usuario.nome}}</span>
				<span *ngIf="!usuario.cadastrado" style="font-style:italic">Não cadastrado</span>
			</div>
			<div class="col-1">
				<span *ngIf="!usuario.cadastrado" (click)="novoUsuario = usuario.email" class="pointer">
					<i class="fas fa-envelope"></i>
				</span>
			</div>
			<div class="col-1">
				<span (click)="delete(usuario)" class="pointer">
					<i class="fas fa-trash-alt"></i>
				</span>
			</div>
			<div class="col-12" [hidden]='idUsuarioDetalhado != usuario.id'>
				<div *ngFor = "let termo of usuario.termos">
					<span class="abandona-termo pointer" (click)="abandonaTermo(termo, usuario)"><i class="fas fa-times"></i></span>
					{{termo.termo}}
				</div>
				<div class="abandona-termo" *ngIf="usuario.termos.length == 0" style="font-style:italic">
					Não acompanha nenhum termo
				</div>
			</div>
		</div>
	</div>
</div>
