<div class="row">
	<div class="col-lg-6">
		<label>Adicionar Termo</label>
		<input type="text" class="form-control" [(ngModel)]="novoTermo" placeholder="Termo">
		<div *ngFor="let email of emails" class='input-group'>
			<input type='text' value='{{email}}' class='form-control' disabled>
			<div class='input-group-append'>
				<button class='btn btn-secondary' type='button' (click)="removerEmail(email)">
					<i class='fas fa-minus'></i>
				</button>
			</div>
		</div>

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Email de alerta" [(ngModel)]="novoEmail" (keyup.enter)="adicionarEmail()">
			<div class="input-group-append">
				<button class="btn btn-secondary" type="button" (click)="adicionarEmail()" >
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>
		<button class="btn btn-primary form-control" type="button" (click)="salvarTermos()">
			<i class="fas fa-save"></i> Salvar
		</button>
	</div>
	<div class="col-lg-6">
		<label>Termos Cadastrados</label>
		<div class="row" *ngFor="let termo of termosSeguidos">
			<div class="col-9 pointer" (click)="exibirSeguidores(termo.termo_id)">
				{{termo.termo_texto}}
			</div>
			<div class="col-1 pointer" (click)="exibirSeguidores(termo.termo_id)">
				<span [hidden]='idSeguindoExibido != termo.termo_id'><i class="fas fa-caret-up"></i></span>
				<span [hidden]='idSeguindoExibido == termo.termo_id'><i class="fas fa-caret-down"></i></span>
			</div>
			<div class="col-1 pointer">
				<span (click)="deletarTermo(termo)"><i class="fas fa-trash-alt"></i></span>
			</div>
			<div class="col-12" [hidden]='idSeguindoExibido != termo.termo_id'>
				<div *ngFor="let seguindo of termo.seguindo" class="seguidor">
					<span class="remove-usuario pointer" data-toggle="modal" (click)="removerSeguidor(seguindo, termo)">
						<i class="fas fa-times"></i>
					</span>
					{{seguindo.email}}
				</div>
				<div class="seguidor" *ngIf="termo.seguindo.length == 0">
					<span style="font-style:italic;font-size:90%">Ninguém acompanhando</span>
				</div>

			</div>
		</div>
	</div>
</div>
